<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Save</title>
</head>
<body>
<h1>User editor</h1>

<form th:method="POST" th:action="@{/users/save}" th:object="${user}">
    <table>
        <input type="hidden" th:field="*{id}" id="id">

        <tr>
            <td>
                <label for="name">Enter name: </label>
            </td>
            <td>
                <input type="text" th:field="*{name}" id="name"/>
                <input type="hidden" th:errors="*{name}"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="lastName">Enter surname: </label>
            </td>
            <td>
                <input type="text" th:field="*{lastName}" id="lastName"/>
                <input type="hidden" th:errors="*{lastName}"/>
            <td></td>
        <tr>
            <td>
                <label for="age"> Enter age: </label>
            </td>
            <td>
                <input type="text" th:field="*{age}" id="age"/>
                <input type="hidden" th:errors="*{age}"/>
            </td>
        </tr>

    </table>
    <input type="submit" value="Accept"/>
</form>
<form method="get" action="/users">
    <input type="submit" value="Cancel"/>
</form>

</body>
</html>